<div class="masthead">
    <div container>
		<div row>
			<div class="alert alert--{{msgClass}}" ng-show="showMsg">
				<p><strong>{{msg}}</strong></p>
			</div>
			<h2 class="masthead-title kilo">Lista de jogadores</h2>
            <a href="#/jogadores/create" class="button button--bordered border--warning">
				<b>Novo Jogador</b>
			</a>
        </div>
        <br/>
        <div row>
            <table class="table table--full table--borderHorizontal table--hoverRow table--responsive">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Sobrenome</td>
                        <td>Time</td>
                        <td>Posição</td>
                        <td class="float--right">Idade</td>
                        <td>Ações</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in jogadores">
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.sobrenome}}</td>
                        <td>{{item.time}}</td>
                        <td>{{item.posicao}}</td>
                        <td class="float--right">{{item.idade}}</td>
                        <td><a href="#/jogadores/edit/{{item.id}}">Editar</a> / <a ng-click="deletar(item.id)" href="#">Deletar</a></td>
                    </tr>
                    <tr ng-show="notFound" class="text-center">
                        <td colspan="4">Nenhum jogador na tabela...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>