<div class="row justify-content-md-center mt-5">
    <div class="col-8 align-self-center">
        <h1>Jogadores</h1>
    </div>
<div class="col-2 align-self-center">
    <button mat-stroked-button-class="float-right" color="primary" (click)="openNewDialog()">Adicionar</button>
</div>    

<div class="row justify-content-md-center">
    <div class="col-8">
        <table mat-table [dataSource]="this.jogadores" class="mat-evelation-z8" with="100%">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let jogador">{{jogador.id}}</td>
            </ng-container>
        
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let jogador">{{jogador.nome}}</td>
            </ng-container>
            
        
            <ng-container matColumnDef="sobrenome">
                <th mat-header-cell *matHeaderCellDef>Sobrenome</th>
                <td mat-cell *matCellDef="let jogador">{{jogador.sobrenome}}</td>
            </ng-container>
        
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Time</th>
                <td mat-cell *matCellDef="let jogador">{{jogador.time}}</td>
            </ng-container>
        
            <ng-container matColumnDef="posicao">
                <th mat-header-cell *matHeaderCellDef>Posicao</th>
                <td mat-cell *matCellDef="let jogador">{{jogador.posicao}}</td>
            </ng-container>
        
            <ng-container matColumnDef="idade">
                <th mat-header-cell *matHeaderCellDef>Idade</th>
                <td mat-cell *matCellDef="let jogador">{{jogador.idade}}</td>
            </ng-container>
        
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let jogador">{{jogador.status}}</td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let jogador">
                    <button mat-stroked-button class="float-right" color="primary" (click)="excluir(jogador)">Excluir</button>
                    <!-- <button mat-stroked-button class="float-right" color="primary" (click)="openNewDialog(jogador)">Editar</button>      -->
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let jogador; columns: displayedColumns"></tr>
        </table>
    </div>

</div>
