<div class="masthead">
    <div container>
        <div style='float:left;margin: 0 60px'>
            <img src="img/icon_chest.png" />
        </div>
        <h2 class="masthead-title kilo">Jogador Web</h2>

        <p>This is a masthead template for the <a href="http://concisecss.com">Concise CSS framework</a> that can be easily copied and customized for projects.</p>

        <button class="button--lg button--bordered">Leia Mais</button>
    </div>
</div>

<main container class="siteContent">
	<div row>
        <div column=4>
            <div class="ico-content">
                <img src="img/icon_music.png" />
            </div>

            <div class="opt-content">
                <h3>Jogadores</h3>

                <p>Gerencie os jogadores.</p>

                <a class="button button--sm" href="#/jogadores/list/all">Ver Mais &raquo;</a>
            </div>
        </div>
      
    </div>
</main>